#####################################################################
#   Extruder
#####################################################################

##  Connected to MOTOR_6
##  Heater - HE0
##  Thermistor - T0
[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
rotation_distance: 4.637   #Bondtech 5mm Drive Gears
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
pressure_advance: 0.015
heater_pin: EBBCan: PB13  

#---- NTC100K-----
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBCan: PA3

#-----PT100-----
#sensor_type:MAX31865
#sensor_pin: EBBCan: PA4
#spi_bus: spi1
#rtd_nominal_r: 100
#rtd_reference_r: 430
#rtd_num_of_wires: 4


control: pid
pid_kp =27.856
pid_ki = 3.504
pid_kd = 55.365
min_extrude_temp: 220
#   The minimum temperature (in Celsius) at which extruder move
#   commands may be issued. The default is 170 Celsius.
min_temp: 0
max_temp: 480

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF4
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 1.0
min_temp: 0
max_temp: 120
control: pid
pid_kp: 61.291
pid_ki: 1.318
pid_kd: 712.509

[verify_heater heater_bed]
max_error: 200
check_gain_time:90
hysteresis: 5
heating_gain: 2

[temperature_sensor buildplate]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF5
min_temp: -90
max_temp: 120
